
</div>
</main>
<footer>
  <div class="footer-padding">
    <div class="footer">
      <div class="social-media">
        <a href="https://twitter.com/SAMMELVIN20"><box-icon type='logo' name='twitter'></box-icon>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAapJREFUSEvtlv0xBEEQxd9FQAZkgAgQAS
          JwIkAEiAARIAJE4GRABkIgAuqnerbm5mZnenaV++e6auvu6t706379MTvRkmyyJF6tiP9N+b+Qel3SqaQ9ez4k3Uu6lfRpmWza9/B7ocY4eZR0FB0qqYDDF0l8phYCOJT0
          ZUF1mDRjQBA/GXlN+pmk3QroXRJ+CQ78r6XEl5Iu7D9A55LeehwjLdnWDHnhAd/5SolzzggmrlcgOpN0XWONZJ5LINdc3xlnRI38PK9W/1idEv+VJLBzliOeSrpzZELz5J
          oqPeoiRr4NSdtpFzoC6YOc2HgVM/Y2TEscO7kGTaVmjpFwrcVzAcv84nPBxtTYE9uzzbCLGBA1phMPPN4LmP14acS4vl1Nk0FKzYcaY9d7vo+YMWHgx9Q621Qhi9LthNysz
          SHkrNqbklS1a5GOZKEQxLFT8wc7U4R7iLk0qLnHXKQ4ionJbsvmjgzD9srOYRIF80pwvAC4LHc7MUa1OzY4hxAyznRvFx7mUleH2pJxCIRLHQK2W7itPDzuBTLIWcuhWnO
          1+GrCroib5BoD/gFW7UcfC0psiQAAAABJRU5ErkJggg=="/>
        </a>
        <a href="https://www.snapchat.com/add/melvin6055"><box-icon name='snapchat' type='logo' ></box-icon>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAYVJREFUSEvtluExxUAURs+rgA5QASpAB1S
          AClABKqAEKqADdEAF6IAOzDEbE3m7yd28N5Mx4/5Jftzds/e7X+5mxkQxm4jLnwOvA2tJrXfgrVa52oqPgHNAcDsEXwC30QPUgG+Aw4GNzTmOwKPga+AksiFwmarvTY+Alf
          U1CG3SNob6HgGfAleV4DNAlYoRAWsaDVUTg3L/g9ty7gLPgD0eI7U93gSecj0qST3GUCUPZI1WAm8lV+7UOCqTa7VOu7mROmQuv+HH1lyOnsP5bauKM3wILMg+26uacM32I
          t+xp36oIbZy95Ja2eV9Fa+mUelzTHykqrNy95nrLnP91R5A6EFq16+1XbAO1Mk+lxlel5r0577ugscYKXrAF8DP9Du6YPupoUxwiKxEdy3kfQJNtfftnD5z1Vz+pfMpbbZt
          Q652gCi/sZ+mWfOT14VZnSpZmY5WNc3l+1xEBkh7ka3wfu7+BlmZ0CxkGeBmDw/QGEVFwsCSuRb0Unx5rdTxnQcyJwN/Ad3ZQB9SWCctAAAAAElFTkSuQmCC"/>
        </a>
        <a href="https://www.instagram.com/lil._x_sam/"><box-icon name='instagram' type='logo' ></box-icon>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAeNJREFUSEvlltsxREEQhr+NABEgAkSACBA
          AhQTIABEgApcEEAGePaDKOxkgAurbmtk6puacnbNnq5bSL3uZy9/999/d02NC1psQLr8eeBpYKGTnGfgYtrcpYsEOgHVgbthFyfobcA0c1TlRB7wCnFUAP4GnQvBFYCrs1
          YGN3NkcsJE+BtAbYB/wgjYm+AmwHM4upZHngD2wBwgqzW1tE/qivQTuAvhpCGBwVw7Y6GaB+REiFVRAbSecvw2f3lcLLM3vgMqUrpz5/1pl3dzLjp9bwEU4tBt08hV+z1Tp
          TiNWVHp4D/g9tcOg9JxDrqni7UD1C/AQHLIUVwP1/bNtgCOoClcH5k/TQQWokgV2X9VinkcCll6VLqg1nTYIU6Q2BE+10Qk4RpuLKEYXqyHd0wnYLqSgftCVUGrpXWXK8G
          8CT4zqKC5FpXhy4noFFNlYxWU6Y9SCVsvJ3Fq7go69nKKOmhpIneLtaEMbSGyZbnai5Mw6NsLYUt173tDXi1qmQF2GROpobME2HoMaWNNYtHYd4l2s1VjUM+lzNHowjrc2
          DpiG49DHs2226elj3gTXVHKbp0+kVVBVHwdKI9Vx0cOqWCHFN1Rp1AKaKqdW9sVZ+q5WyaUvzSJ2SoFLIy3e9/+AvwFbBJcf5iwWnQAAAABJRU5ErkJggg=="/>
        </a>
        <a href="https://github.com/imsammelvin"><box-icon name='github' type='logo' ></box-icon>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAiZJREFUSEvllt01BUEQhOtGgAgQASJABk
          SACBABIkAEiIAMEAEiQASIgPPt2d7T2+Zndz3cB/1yz92dmerqrqnemeYUsznhagrwlqQFSett0s+SPiU9jiExFHhF0omkHUmLGQDA7yRdSiKZYtSAATmXtF87KLy/lnTc
          ViK5tQRMKa9cSUdi603Sbo59DhjQ+0JZhyZB+bdT4ClgyguoieddarLfHIj20q5ba3/ZuxHLngKmP3sOhIwfJCEw3pEY4uFAguckCTu0wHP+P7kzbqJOIjCHvAZmqw5kIO
          lm2XdYDOtO7RH4QtJh2GCMx4BGxuztsY7AlGnZIdBfK+MYYGuHP4tWLNkhHjiV5UHb1zGgtpZ+cx19dNXzwFghavbR68tIdFh/hD3ca9yt59VHrUv5tTVnq+USBXYm6XQI
          8BRhWTKpG5IETpX6Lz1moNyGknTn+VKmMsQ4YD0lohFxRqeZ2EMkz6z1MYV1StFf3vtLBsIdtnuIIJizJFYKlIwBNQIKUTQQX26kb8PdqkDpSaC5Ei7wAOY2OslF0TLZRL
          Z8bRD0l2S8EaS8O3VnfQIky3XtIjcWYcZYM3HBCJVi8pGtHZbSB+8Yk1Si16acQcASEEqMOhFYLUgyzmwEBeivb7CSMwEOOxvobKaklDoVkTFMUXfyw69miQDRG+s5gLk9
          3h7pKVrJ3oIasDGDPQnwS69TQUsAYqbb10m2PUOBa/0d/f7/Af8A+YtyH9j17mQAAAAASUVORK5CYII="/>
        </a>
        <a href="mailto:sammelvin2232002@gmail.com?cc=sammelvin2232002@gmail.com&bcc=sammelvin2232002@gmail.com&subject=Hello%20Sam"><box-icon name='mail-send' ></box-icon>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXpJREFUSEvtluExBEEQhd9FQAhCIAJkIAN
          E4ETgZEAEiIAMkAEZuAyIwNV3Na3a1M5sz9ae9ePm3+7O9NfvdffUzjTRmk3E1Rb8Z86XrN6VdCfpZKRMPiRdS7q3eCXwi6TDkaA+zIGkN16UwN9u97ukp4FJ4NyFO4vqRR
          TMPiy6lPTZkMCRpEdJwG01gzmIRedmVU8CqLrq2BMG30rad/VGMcp/miQLjjpUopb1JWmeGpXnMNg25gq6rM+tpTfOkkPWM81gsiUwTbaT1Hjr88QeklLriTCYcbKm8rZiJ
          XAbNQIzo5TDW5uXIgzua96u5vHW5uer4FIn+iDHkswNb31u7UbBBMf6vcCIVRWjwMagZDW1o6atK1xjEvDXpgctB8DD4BL01yXQIPv/g2u1psZWZzq85o6ZYvG4bm94Gfnn
          omtPM1upM40WgdpR7m0umnXSETDZPmfg1zQBNtN95QaG0vVPwBjgPmDxe0Tx4OC1g1vwRmztCjqZ1SvUJ2sf7qrHuwAAAABJRU5ErkJggg=="/>
        </a>
    </div>
      <p>	© Made with ❤️ by Sam Melvin</p>
    </div>
  </div>
</footer>


</body>
</html>