<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Monterotribu</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="apple-touch-icon" sizes="180x180" href="../../public/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/img/favicon-16x16.png">
  <link rel="manifest" href="../../public/img/site.webmanifest">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Monterotribu</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">Home</a></li>
          <li id="about"><a href="/write">Write</a></li>
          <li id="contact"><a href="/contact">Contact</a></li>
          <li id="subscribe"><a href="/subscribe"><button type="button" class="btn btn-danger subscribe-btn">Subscribe</button></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
      <main>
  