<%- include("header"); -%>

<h1 class="success-display">Your Message Has Been Sent.</h1>

<a href="/"><button class="btn btn-primary success-btn" type="submit">Home</button></a>

<%- include("footer"); -%>